@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header, .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fffffc; 
    color: grey;
}

#landing-container, button {
    color: #88b3f8;
    font-size: 4vw;
}

#landing-container h1 {
    text-shadow: 2px 2px 2px rgb(139, 139, 139);
    font-family: 'Lobster', cursive;
    font-size: 15vw;
}

button {
    font-weight: bold;
    padding: 1vw;
    border-color: #fccbcb;
    color: white;
    border-radius: 1vw;
    background-color: #ffadad;
    transition: all 0.2s ease-in-out;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #caffbf;
    border-color: #caffbfe8;
    text-shadow: 2px 2px 6px rgba(124, 124, 124, 0.884);
}

.square {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border: 1px solid red;
    border-radius: 0.5vw;
    content: 'a';
}

.container {
    border: 3px solid #bbb;
}

.playarea {
    margin: 1.5vw 0;
    display: grid;
    width: 30vw;
    height: 30vw;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    width: 10vw;
    height: 10vw;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: bold;
    border: 3px solid black;
    text-shadow: 2px 2px 2px gray;
    transition: all 0.2s ease-in-out;
}

.block:hover {
    cursor: pointer;
    background: #caffbf;
}

.occupied:hover {
    background: #ffadad;
    color: white;
    text-shadow: 2px 2px 2px gray;
}

#playarea-container {
    display: none;
}

#landing-container {
    transition: all 0.15s ease-in-out;
}

#block_0,#block_1,#block_2 {
  border-top: none;
}

#block_0,#block_3,#block_6 {
  border-left: none;
}

#block_6,#block_7,#block_8 {
  border-bottom: none;
}

#block_2,#block_5,#block_8 {
  border-right: none;
}

.playerWin {
    color: #caffbf;
    text-shadow: 1px 1px 2px rgba(139, 139, 139, 0.774);
}

.draw {
    color: #ffadad;
    text-shadow: 1px 1px 2px rgba(139, 139, 139, 0.774);
}

.cross {
    color: #9BF6FF;
    text-shadow: 1px 1px 2px rgba(139, 139, 139, 0.774);
}

.circle {
    color: #FFD6A5;
    text-shadow: 1px 1px 2px rgba(139, 139, 139, 0.774);
}

.end {
    background-color: #fdffb6d0;
    border-radius: 2%;
}

.green {
    background-color: #caffbf;
}

.draw-bg {
    background-color: #fdffb6d0;
}

.score-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reset-score {
    padding: 0.5vw;
    font-size: x-large;
    border-radius: 0.5vw;
}

.fullscreen {
    padding: 0.5vw;
    font-size: x-large;
    border-radius: 0.5vw;
}

.maximized {
    background-color: #fcdba1 ;
    border-color: #fde3b7 ;
}

#landing-container button {
    margin: 1vw 0;
}

#landing-container .fullscreen {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .square {
      height: 30vw;
      width: 30vw;
    }

    .block {
      height: 30vw;
      width: 30vw;
      font-size: 30vw;
    }

    .playarea{
        height: 90vw;
        width: 90vw;
    }
    #landing-container, button {
        font-size: 8vw;
    }

    #landing-container h1 {
        font-size: 20vw;
    }

    #playarea-container h1, #playarea-container h2{
        font-size: 9vw;
    }

    button, #reset-score, .fullscreen {
        border-radius: 3vw;
    }

    .circle, .cross, #landing-container h1, button:hover, .block, .occupied:hover, .playerWin, .draw {
        text-shadow: none;
    }
  }